<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
    <form method='POST' action='/playlists'>
        {% include 'partials/playlists_form.html' %}

        <!-- BUTTONS -->
        <p>
            <button type='submit'>Save Playlist</button>

            <button type='cancel'>Cancel</button>
        </p>
    </form>
{% endblock %}

<!--
        <fieldset>
            <legend>New Playlist</legend> --> -->
            <!-- TITLE -->
        <!--     <p>
                <label for='title'>Title</label><br>
                <input type='text' name='title' />
            </p>
                -->
            <!-- DECSRIPTION -->
            <!-- <p>
                <label for='description'>Description</label><br>
                <input id='description' type='text' name='description' />
            </p>
-->
            <!-- VIDEO LINKS -->
        <!--     <p>
                <label for='playlists-videos'>Videos</label><br>
                <p>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
                <textarea id='playlist-videos' name='videos' rows='10'></textarea>
            </p>-->

            <!-- RATING -->
        <!--     <p>
                <label for='rating'>Rate this Playlist</label><br>
                <p>Choose a number between 1-5</p>
                <select>
                    <option value ="One">1</option>
                    <option value="Two">2</option>
                    <option value="Three">3</option>
                    <option value="Four">4</option>
                    <option value="Five">5</option>
                </select>
            </fieldset>-->

            <!-- BUTTON -->
        <!--  <p>
                <button type='submit'>Save Playlist</button>
            </p> -->
